@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
body{
    background: #000000;
}

/*Scroll bar*/

::-webkit-scrollbar{
    width: 12px;
}
::-webkit-scrollbar-thumb
{
    background: #fff;
    border-radius: 6px;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 7px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition:  0.5s;
    z-index: 1000;

}
header.sticky{
    background: #1b1b1d;
    box-shadow: 0 5px 10px rgba(0,0,0.1);

}
header .logo{
    position: relative;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    font-weight: 700;
}
header .nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li{
    list-style: none;
    margin: 10px;
}
header ul li a{
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius:  5px;
}
header ul li a:hover{
    background:  #ffffff;
    color: #000000;
    box-shadow: 0 0 10px #dbe7e7;
}
header .action .searchBx{
    padding: 5px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 5px;
}
header .action .searchBx i{
    font-size: 1.4em;
    margin: 5px;
    color: #222;
}
header .action .searchBx input{
    outline: none;
    border: none;
    font-size: 1em;
    color: #222;
}

/*Home Banner*/

.banner{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 0px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner .bg{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner .bg .content{
    width: 50%;
    height: 100%;

}
.banner .bg .content h2{
    font-size: 4em;
    color: #fff;
    letter-spacing: 1px;
}
.banner .bg .content p{
    font-size: 1em;
    color: #dbd9d9;
    letter-spacing: 1px;

}
.banner .bg .content a{
    display: inline-block;
    padding: 10px 20px;
    margin: 20px 0;
    border: 1px solid #1aeeef;
    text-decoration: none;
    font-weight: 700;
    border-radius: 5px;
    color: #fff;
    letter-spacing: 1px;
}
.banner .bg .content a:hover{
    background: #1aeeef;
    border: none;
    color: #050e2d;
    box-shadow: 0 0 10px #1aeeef;
}
.banner .bg img{
    width: 600px;
}

/*About*/

.acerca{
    position: relative;
    width:100%;
    min-height: 75vh;
    padding: 0px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.acerca .contentBx{
    width: 50%;
    margin: 20px;

}
.acerca .contentBx h2{
    font-size: 3em;
    font-weight: 700;
    color: #fff;
}
.acerca .contentBx p{
    max-width: 600px;
    text-align: justify;
    color: #dbd9d9;
}
.acerca .contentBx a{
    display: inline-block;
    padding: 10px 20px;
    margin: 20px 0;
    border: 1px solid #1aeeef;
    text-decoration: none;
    font-weight: 700;
    border-radius: 5px;
    color: #fff;
    letter-spacing: 1px;
}
.acerca .contentBx a:hover{
    background: #1aeeef;
    border: none;
    color: #050e2d;
    box-shadow: 0 0 10px #1aeeef;
}

/*Games*/
.games{
    padding: 0px 100px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 40px auto;
}
.games h2{
    color: #fff;
    margin: 10px 0;
}
.games ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.games ul li{
    list-style: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 5px;
    letter-spacing: 1px;
    cursor: pointer;
    color: #fff;
}
.games ul li.active{
    background: #1aeeef;
    color: #050e2d;
    box-shadow: 0 0 10px #1aeeef;
}
.games .cardBx{
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}
.games .cardBx .card{
    width: 280px;
    border-radius: 10px;
    margin: 20px 40px;
    background: #707070;
    overflow: hidden;
}
.games .cardBx .card img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.games .cardBx .card .content{
    padding: 10px;
}
.games .cardBx .card .content h4{
    color: #fff;
    margin: 15px 0;
}
.games .cardBx .card .progress-line{
    position: relative;
    height: 10px;
    width: 100%;
    background: #979797;
    margin-bottom: 15px;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
}
.games .cardBx .card .progress-line span{
    position: absolute;
    height: 100%;
    width: 80%;
    border-radius: 10px;
    background: #e2e2e2;
    box-shadow: 0 0 10px #e2e2e2;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
}
@keyframes animate{
    100%{
        transform: scaleX(1);
    }
}
.games .cardBx .card .info{
    border-top: 2px solid #979797;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.games .cardBx .card .info p{
    font-size: 1em;
    columns: #fff;
}
.games .cardBx .card .info p span{
    color: #e2e2e2;
}
.games .cardBx .card .info a{
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 0;
    border: 1px solid #e2e2e2;
    text-decoration: none;
    font-weight: 700;
    border-radius: 5px;
    color: #fff;
    letter-spacing: 1px;
}
.games .cardBx .card .info a:hover{
    background: #e2e2e2;
    border: none;
    color: #050e2d;
    box-shadow: 0 0 10px #e2e2e2;
}

.games .cardBx .card.hide{
    display: none;
}
.torneos{
    padding: 0px 100px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
.torneos h2{
    color: #fff;
    margin: 10px 0;
 }
.torneos .boxBx{
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
 }
.torneos .boxBx .box{
    width: 350px;
    border-radius: 10px;
    margin: 20px 40px;
    background: #979797;
    overflow: hidden;
}
.torneos .boxBx .box img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.torneos .boxBx .box .content{
    padding: 10px;
}

.torneos .boxBx .box .content h4{
    color: #fff;
    margin-top: 15px;
}
.torneos .boxBx .box .content h4 span{
    color: #e2e2e2;
}
.torneos .boxBx .box .content p{
    text-align: justify;
    color: #dbd9d9;
    margin-top: 10px;
}
.torneos .boxBx .box .content.btn{
    display: flex;
    justify-content: space-between;
}

.torneos .boxBx .box .content .watch{
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 0;
    background:  #e2e2e2 ;
    text-decoration: none;
    font-weight: 700;
    border-radius: 5px;
    color: #050e2d;
    letter-spacing: 1px;
    box-shadow: 0 0 10px #e2e2e2;
}
.torneos .boxBx .box .content .watch:hover{
    border: 1px solid #e2e2e2;
    background: none;
    color: #fff;
    box-shadow: none;
}
.torneos .boxBx .box .content .join{
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 0;
    border: 1px solid #e2e2e2;
    text-decoration: none;
    font-weight: 700;
    border-radius: 5px;
    color: #fff;
    letter-spacing: 1px;
}
.torneos .boxBx .box .content .join:hover{
    background: #e2e2e2;
    border: none;
    color: #050e2d;
    box-shadow: 0 0 10px #e2e2e2;
}

/* ayuda */

.ayuda{
    padding: 20px 100px;
    width: 100%;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ayuda img{
    height: 100%;
    width: 50%;
    object-fit: cover;
    border-radius: 10px;
}
.ayuda .form{
    width: 50%;
    margin: 30px;
}
.ayuda .form h1{
    color: #fff;
}
.ayuda .form .inputBx{
    margin: 10px 0;
}
.ayuda .form .inputBx p{
    color: #fff;
}
.ayuda .form .inputBx input,
.ayuda .form .inputBx textarea{
    border: none;
    outline: none;
    padding: 10px;
    width: 100%;
    color: #fff;
    background: #464646;
    min-height: 15px;
    font-size: 1.1em;
}
.ayuda .form .inputBx textarea{
    height: 150px;
}
.ayuda .form .inputBx input[type="submit"]{
    display: inline-block;
    padding: 10px 20px;
    margin: 15px 0;
    outline: none;
    background: transparent;
    border: 1px solid #e2e2e2;
    text-decoration: none;
    font-weight: 700;
    width: 150px;
    border-radius: 5px;
    color: #fff;
    letter-spacing: 1px;
}
.ayuda .form .inputBx input[type="submit"]:hover{
    background: #e2e2e2;
    border: none;
    columns: #464646;
    box-shadow: 0 0 10px #e2e2e2;
}

/*footer*/
footer{
    padding: 10px 100px;
}
footer .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer .info .logo{
    position: relative;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    font-weight: 700;
}
footer .info p{
    color: #dbd9d9;
}
footer .info ul{
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .info ul li{
    list-style: none;
    height: 50px;
    width: 50px;
    margin: 5px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #e2e2e2;
}
footer .info ul li:hover{
    background: #e2e2e2;
    border: none;
    box-shadow: 0 0 10px #e2e2e2;
}
footer .info ul li a i{
    font-size: 1.5em;
    color: #fff;
}
footer .info ul li:hover a i{
    color: #1b1b1d;
}
.animeX{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
}
.animeX.active{
    transform: translateY(0px);
    opacity: 1;
}

/*Responsive Design*/

@media (max-width: 991px)
{
    header
    {
        padding: 15px 40px;
    }
    header .nav{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #1b1b1d;
        display: none;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 1000;
    }
    header .nav.active{
        display: flex;
    }
    header .nav li{
        margin: 20px 0;
    }
    header .nav li a{
        font-size: 24px;
        margin: 10px 0;
    }
    .toggleMenu{
        position: relative;
        width: 30px;
        height: 30px;
        background: url(img/menu2.png);
        background-position: center;
        background-size: 30px;
        background-repeat: no-repeat;
        cursor: pointer;
        z-index: 1001;

    }
    .toggleMenu.active{
        background: url(img/close1.png);
        background-position: center;
        background-size: 30px;
        background-repeat: no-repeat;
    }
    .banner .bg img{
        position: absolute;
    }
    .banner .bg .content {
        width: 100%;
        height: 100%;
        background: rgba(48, 49, 54, 0.5);
        padding: 20px;
        z-index: 1;
        border-radius: 10px;
    }
    .acerca{
        flex-direction: column;
    }
    .acerca.contentBx{
        width: 100%;
    }
    .ayuda{
        flex-direction: column;
    } 
    .ayuda img{
        height: 100%;
        width: 100%;
    }   
    .ayuda .form{
        width: 100%;
        margin: 30px;
        padding: 10px;
    }
    .ayuda .form h1{
        text-align: center;
    }
    footer .info{
        flex-direction: column;
    }
}